*.java.hsp
*.sonarj
*.sw*
.DS_Store
bin
build.sh
integration-repo
ivy-cache
.gradle
build

# Eclipse metadata
.classpath
.project
.settings
.springBeans
spring-binding/src/main/java/META-INF/MANIFEST.MF
spring-faces/src/main/java/META-INF/MANIFEST.MF
spring-js-resources/src/main/java/META-INF/MANIFEST.MF
spring-js/src/main/java/META-INF/MANIFEST.MF
spring-webflow/src/main/java/META-INF/MANIFEST.MF



# IDEA metadata and output dirs
*.iml
*.ipr
*.iws
out

